 {
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', Tahoma,, Verdana, sans-serif;
  margin: 0;
  padding: 20px;
  text-align: center;
  color:-moz-only-whitespace;
  background-image: url("https://raw.githubusercontent.com/jaycell1204/calendar/refs/heads/main/bg.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
    background-size: 100%;
}

.calendar-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 320px));
  gap: 20px;
  justify-content: center;
  margin: 0 auto;
  max-width: 1400px;
}

.month-container {
  background: #b6af9e;
  border-color: #c4ae85;
  padding: 16px;
  border-radius: 16px;
  padding: 16px;
  box-shadow: 0px 6px 16px rgba(167, 158, 113, 0.473);
  backdrop-filter: blur(50px);
}

.month-title {
  font-size: 1.4rem;
  margin-bottom: 10px;
  color: #2c3e50;
}

.calendar {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 12px;
}

.calendar th,
.calendar td {
  border: 1px solid #ddd;
  padding: 8px;
  width: 14.2%;
  text-align: center;
  font-size: 0.9rem;
}

.calendar th {
  background: #b3aea1;
  color: rgb(255, 255, 255);
  font-weight: bold;
}

.calendar td {
  background: #f5f5f5;
}

.calendar td.sunday { 
  color: #a31303;
  font-weight: bold;
  background: #ebe5d5; 
  border: 2px solid #d8cea6; 
  border-radius: 6px;
}
.calendar td.holiday {
  color: #a31303;
  font-weight: bold;
  background: #d6d8c6; 
  border: 2px solid  #c4bf92; 
  border-radius: 6px;
}

.holidays-list {
  text-align: left;
  font-size: 0.9rem;
  padding-left: 10px;
}

.holidays-list h3 {
  margin: 5px 0;
  font-size: 1rem;
  color: #c786bc;
}

.holidays-list ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.holidays-list li {
  color: #838273;
  background: #f6f3f7;
  border-left: 4px solid #81806c;
  padding: 6px 10px;
  margin-bottom: 4px;
  border-radius: 6px;
}

